body {
    font-family: 'Kalam', cursive, sans-serif;
    background-color: #A8D1D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin: 2rem;
    margin-bottom: 0px;
    padding: .05rem;
}

div {
    display: flex;   
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: rgb(32, 2, 2);
    text-align: center;
}

#gamecontainer {
    display: flex;
    gap: 18px;
    padding: 40px;
}

#gamecontainer button img {
    display: inline-block;
}

button {
    text-align: center;
    font-size: 30px;
    border-radius: 1rem;
    border: solid black 4px;
    background-color: #F1F7B5;
    color: rgb(59, 5, 5);
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    position: relative;
}

button:hover {
    transform: scale(1.1);
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 150px;
    font-family: 'Kalam', cursive, sans-serif;
}

#results {
    border: solid black 4px;
    border-radius: 1rem;
    height: 300px;
    width: 600px;
    background-color: #F1F7B5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.transform {
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
    border: solid black 4px;
    background-color: aquamarine;
    color: rgb(59, 5, 5);
    height: 200px;
    width: 200px;
    transform: scale(1.2);

}

footer {
    margin-top: auto;
    margin-bottom: 2rem;
}

@media (max-width: 705px) {
    #results {
        width: 80vw;
        height: 10rem;
    }

    #results h1 {
        font-size: 40px;
    }

    #gamecontainer {
        width: 85vw;
        
    }

    #gamecontainer button {
        height: 10rem;
        width: 10rem;
    }

    
}

@media (max-width: 532px) {
    #results {
        width: 70vw;
        height: 8rem;
    }

    #results h1 {
        font-size: 32px;
    }

    #gamecontainer {
        width: 80vw;
    }

    #gamecontainer button {
        height: 7rem;
        width: 7rem;
    }

    #gamecontainer img {
        height: 6rem;
    }

    .header h1 {
        font-size: 35px;
    }

    .reset {
        height: 60px;
        width: 125px;
        font-size: 25px;
    }
}

@media (max-width: 496) {
    #results {
        width: 80vw;
        height: 8rem;
    }

    #results h1 {
        font-size: 29px;
    }
}

@media (max-width: 420px) {
    .header h1 {
        font-size: 30px;
    }

    #results {
        width: 80vw;
    }

    #results h1 {
        font-size: 28px;
    }

    #gamecontainer button {
        height: 6rem;
        width: 6rem;
    }

    #gamecontainer img {
        height: 5rem;
    }

    .reset {
        height: 56px;
        width: 120px;
    }
}
/*#results {
    width: 80vw;
    height: 8rem;
}